<h1>Game Summaries</h1>

<h2>Game of the Week</h2>

{% for matchup in matchups_sorted %}
<div class="matchup">
    <div class="teams-side-by-side">
        <div class="team-column">
            <h3 class="matchup-header-away" style="{{ get_background_css(matchup.away_bg_color) }}; color: {{ matchup.away_font_color }}; padding: 8px 12px; border-radius: 4px; text-align: center; display: flex; align-items: center; justify-content: center;">
                <div class="logo-container" data-team-id="{{ matchup.away_team.id }}">{{ matchup.away_logo }}</div>
                <div class="score-container">
                    <div class="final-score"><strong>FINAL:</strong> {{ "%.2f"|format(matchup.away_score) }}</div>
                    <div class="projected-score">(proj: {{ "%.2f"|format(matchup.away_projected_score) }})</div>
                </div>
            </h3>
            {% with team_players=matchup.away_players, starter_total=matchup.away_starter_total, team_bg_color=matchup.away_bg_color, team_font_color=matchup.away_font_color, optimal_score=matchup.away_optimal_score, accuracy_percentage=matchup.away_accuracy_percentage %}
                {% include 'team_player_table.html' %}
            {% endwith %}
        </div>
        <div class="team-column">
            <h3 class="matchup-header-home" style="{{ get_background_css(matchup.home_bg_color) }}; color: {{ matchup.home_font_color }}; padding: 8px 12px; border-radius: 4px; text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: row-reverse;">
                <div class="logo-container" data-team-id="{{ matchup.home_team.id }}">{{ matchup.home_logo }}</div>
                <div class="score-container">
                    <div class="final-score"><strong>FINAL:</strong> {{ "%.2f"|format(matchup.home_score) }}</div>
                    <div class="projected-score">(proj: {{ "%.2f"|format(matchup.home_projected_score) }})</div>
                </div>
            </h3>
            {% with team_players=matchup.home_players, starter_total=matchup.home_starter_total, team_bg_color=matchup.home_bg_color, team_font_color=matchup.home_font_color, optimal_score=matchup.home_optimal_score, accuracy_percentage=matchup.home_accuracy_percentage %}
                {% include 'team_player_table.html' %}
            {% endwith %}
        </div>
    </div>
</div>
{% endfor %}

<div class="section-divider"></div>