<a href="https://will.moore.fyi/duke-football-invitational/weekly-reports/index.html" target="_blank">
    <img src="https://will.moore.fyi/duke-football-invitational/static/duke-football-invitational-logo-v2.png"
         alt="Duke Football Invitational"
         title="Duke Football Invitational"
         class="league-title logo-header" />
</a>
<div class="center">
    <strong>Week {{ week }} - {{ season }}</strong><br>
    Generated: {{ formatted_date }}
</div>
<div class="section-divider"></div>