<h2>Overall League Standings</h2>
<table class="standings-table">
    <thead>
        <tr>
            <th class="numeric">Rank</th>
            <th>Team</th>
            <th>Division</th>
            <th class="numeric">Wins</th>
            <th class="numeric">Losses</th>
            <th class="numeric">Ties</th>
            <th class="numeric">PF</th>
            <th class="numeric">PA</th>
        </tr>
    </thead>
    <tbody>
    {% for team in all_teams_sorted %}
        {% set theme_colors = get_team_theme_colors(team.name) %}
        {% set lightened_bg = lighten_color(theme_colors[0], 0.8) %}
        <tr style="{{ get_background_css(lightened_bg) }};">
            <td class="numeric">{{ team.overall_rank }}</td>
            <td class="team-name-with-bg" style="background-image: url('{{ team_logos.get(team.name, '') }}');" title="{{ team.name }}">{{ team.name }}</td>
            <td>{{ team.division }}</td>
            <td class="numeric">{{ team.wins }}</td>
            <td class="numeric">{{ team.losses }}</td>
            <td class="numeric">{{ team.ties }}</td>
            <td class="numeric">{{ "%.2f"|format(team.points_for) }}</td>
            <td class="numeric">{{ "%.2f"|format(team.points_against) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="section-divider"></div>