<h2>Weekly Awards</h2>
<div class="awards-grid">

{% for award in player_awards %}
    {% if award.data %}
    <div class="award-card" style="{{ get_combined_background(award.team_bg_color, team_logos.get(award.data.team_name, ''), 0.7) }};">
        <div class="award-header" style="color: {{ award.team_font_color }};">
            <div class="award-name">{{ award.name.upper() }}</div>
            <div class="award-description">{{ award.description }}</div>
        </div>
        <div class="award-content">
            <div class="award-player" style="font-size: 15px; color: {{ award.team_font_color }};">{{ award.data.player_name }}</div>
            <div class="award-stats" style="color: {{ award.team_font_color }};">Stats TBD</div>
            <div class="award-team">
                <span class="award-team-name" style="color: {{ award.team_font_color }}; font-size: 15px;">{{ award.data.team_name }}</span>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}

{% for award in team_awards %}
    {% if award.data %}
    <div class="award-card" style="{{ get_combined_background(award.team_bg_color, team_logos.get(award.data.team_name, ''), 0.7) }};">
        <div class="award-header" style="color: {{ award.team_font_color }};">
            <div class="award-name">{{ award.display_name }}</div>
            <div class="award-description">{{ award.description }}</div>
        </div>
        <div class="award-content">
            <div class="award-player" style="color: {{ award.team_font_color }};">{{ award.content }}</div>
            {% if award.note %}
            <div class="award-stats" style="color: {{ award.team_font_color }};">{{ award.note }}</div>
            {% endif %}
            <div class="award-team">
                <span class="award-team-name" style="color: {{ award.team_font_color }}; font-size: 15px;">{{ award.data.team_name }}</span>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}

{% for award in collapse_awards %}
    <div class="award-card" style="{{ get_combined_background(award.team_bg_color, team_logos.get(award.team_name, ''), 0.7) }};">
        <div class="award-header" style="color: {{ award.team_font_color }};">
            <div class="award-name">{{ award.name.upper() }}</div>
            <div class="award-description">{{ award.description }}</div>
        </div>
        <div class="award-content">
            <div class="award-player" style="color: {{ award.team_font_color }};">{{ award.content }}</div>
            {% if award.note %}
            <div class="award-stats" style="color: {{ award.team_font_color }};">{{ award.note }}</div>
            {% endif %}
            <div class="award-team">
                <span class="award-team-name" style="color: {{ award.team_font_color }}; font-size: 15px;">{{ award.team_name }}</span>
            </div>
        </div>
    </div>
{% endfor %}

</div>
<div class="section-divider"></div>